{{ if eq .chezmoi.os "windows" }}
[cd]
    command = "pwsh.exe"
    args = ["-NoLogo"]
[interpreters.ps1]
    command = "pwsh.exe"
    args = ["-NoLogo"]
[diff]
    command = "C:\\Program Files\\Neovim\\bin\\nvim.exe"
    args = ["-d"]
{{ end }}

[data]
    email = "richard.slater@ensono.com"
    name = "Richard Slater"
    role = "work"
    signing_key = "95B4980DF834970CA970014CE2B8A0F0A12AF4BD"
